POSTGRES_DB=diacare
POSTGRES_USER=postgress
POSTGRES_PASSWORD=UBa22S0391

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/diacare
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=UBa22S0391

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=

JWT_SECRET=change-this-secret-for-local-development
JWT_EXPIRATION_MS=86400000

VITE_API_URL=http://localhost:8085/api/v1
